h1, h2 {
    
    color: #D23428;
    text-align: center;
}

table{
    font-size: 0.9em;
    text-align: center;
}



table th.colfirstTime,
table th.colPodLeader,
table th.colWillingToDrive{
    width: 30px;    
}

table th.colNotInPod {
    width: 40px;    
}


table#tblRegularPeople, table#tblNotInPod{
    font-size: 0.8em;
}

div#divNumDBRecordsSaved{
    color: #21A315;
    
}





ul.connectedSortable{
    list-style-type: none;
    
    margin-top: 0px;
}

ul li:hover{
    cursor: pointer;
}

div.podDiv{
    
    height: 200px; 
    float: left; 
    padding: 7px;
}




li.personInPod
{
    width: 180px; 
    border: 1px solid #DFB5B6 /*{borderColorDefault}*/;
    padding: 2px 2px 2px 5px;

/*
    opacity:0.8;
    filter:alpha(opacity=80);*/ /* For IE8 and earlier */


    font-weight: bold /*{fwDefault}*/;
    
    font-size: 0.8em;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

.li-podmember
{
    /*background: #F9F7F4;*/
    background: #F9F7F4;
    color: #B12A30 /*{fcDefault}*/;
}

.li-podleader
{
    
    background: #B12A30;


    color: #F9F7F4 /*{fcDefault}*/;
}


input.locationTextbox{
    width: 130px;

}

button#btnDeleteMemory{
    float: right;
}

button#btnLogout{
    float: right;
}